################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs
/ConsoleVR/bin/Debug
/ConsoleVR/obj
